* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.card {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 500px;
    height: 250px;
    display: inline-flex;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background: #000;
}

h1 {
    text-align: center;
}

.card .image img {
    width: 100%;
    transition: 1.2s;
}

.card .image:hover img {
    opacity: .5;
    transform: translateX(30%);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    transition: 2s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .details {
    transform: perspective(2000px) rotateY(0);
}

.card .details .center {
    position: absolute;
    top: 59%;
    height: 294px;
    text-align: center;
    transform: translateY(-50%);
    background-color: #00000061;
}

.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: white;
    line-height: 20px;
    font-size: 10px;
}

.card .details .center h1 span {
    top: 20%;
    font-size: 15px;
    color: rgb(0, 225, 255);
}

p {
    color: white;
}

.card .details .center:hover {
    background-color: #00000061;
}